@model PFC.Demo.Domain.Models.PersonaViewModel
@{
    var personaId = Model.Id;
    var cuentasBancarias = Model.CuentasBancarias;
}
<p>
    <button type="button" class="btn btn-warning add-cuenta">Agregar Cuenta Bancaria +</button>
</p>
<div class="alert alert-success alert-delete-success" style="display:none;" role="alert">
    El Registro se ha eliminado exitosamente!
</div>
<div class="alert alert-danger alert-delete-error" style="display:none;" role="alert">
    Hubo un error al eliminar el registro!
</div>
<table class="table table-hover table-striped table-responsive">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            Numero de Cuenta
        </th>
        <th>
            Balance
        </th>
        <th>
            Comentarios
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CuentasBancarias)
    {
        <tr>
            <td>
                @item.Tipo.ToString()
            </td>
            <td>
                @item.NumeroCuenta
            </td>
            <td>
                @item.Balance.ToString("#.00")
            </td>
            <td border="1">
                @item.Comentarios
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-primary editar-cuenta" data-id-cuenta="@item.Id">Modificar</button>
                    <button type="button" class="btn btn-danger eliminar-cuenta" data-id-cuenta="@item.Id">Eliminar</button>
                </div>
            </td>
        </tr>
    }

</table>


<script>

    var $url_crear_cuenta = "@Url.Action("Create","CuentaBancaria")";
    var $url_editar_cuenta = "@Url.Action("Edit","CuentaBancaria")";
    var $url_eliminar_cuenta = "@Url.Action("Delete","CuentaBancaria")";

    function show_modal_cuenta($url) {
        $('#divModal').empty();

        $.ajax({
            url: $url,
            type: 'GET',
            beforeSend: function () {
            },
            complete: function () {
            }
        }).done(function (respuesta) {
            if (respuesta != '') {
                $('#divModal').html(respuesta);
                $('#divModal').modal('show', { backdrop: 'static' });
            } else {
                $('#divModal').modal('hide');
            }
        });
    }

    function eliminarCuenta(id) {
        var url$ = `${$url_eliminar_cuenta}/${id}`

        $.ajax({
            type: "POST",
            url: url$,
            success: function (result) {
                var msg = "No se pudo eliminar el registro! Intente nuevamente...";
                if (result) {
                    if (result.Success) {
                        showDeleteSuccess()
                        return;
                    } else {
                        msg = result.Message || result.message;
                    }
                }

                showDeleteError(msg);
            },
            error: function (error) {
                var msg = "No se pudo eliminar el registro! Intente nuevamente...";
                if (error && error.message) {
                    msg = error.Message || error.message || error.responseText;
                }

                showDeleteError(msg);
            }
        });
    }


    function showDeleteSuccess() {
        $(".alert-delete-success").show();

        setTimeout(function () {
            $(".alert-delete-success").hide();
            location.reload();
        }, 1000);
    }


    function showDeleteError(msg) {
        $(".alert-delete-error").html(msg);
        $(".alert-delete-error").show();

        setTimeout(function () {
            $(".alert-delete-error").hide();
        }, 5000);
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        $(".add-cuenta").on("click", function () {
            var id = @Html.Raw(personaId);
            var url = `${$url_crear_cuenta}?personaId=${id}`
            show_modal_cuenta(url);
        });
        $(".editar-cuenta").on("click", function () {
            var id = $(this).attr("data-id-cuenta")
            var url = `${$url_editar_cuenta}/${id}`
            show_modal_cuenta(url);
        });
        $(".eliminar-cuenta").on("click", function () {
            var eliminar = confirm("Esta seguro que desea eliminar esta cuenta?");
            if (eliminar) {
                var id = $(this).attr("data-id-cuenta")
                eliminarCuenta(id);
            }
        });
    });
</script>
