@using PFC.Demo.ClientApp.Services
@model PFC.Demo.Domain.Models.PersonaViewModel
<p>
    <button type="button" class="btn btn-warning add-cuenta">Agregar Cuenta Bancaria +</button>
</p>
<div class="alert alert-success alert-delete-success" style="display:none;" role="alert">
    El Registro se ha eliminado exitosamente!
</div>
<div class="alert alert-danger alert-delete-error" style="display:none;" role="alert">
    Hubo un error al eliminar el registro!
</div>
<table class="table table-hover table-striped table-responsive">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            Numero de Cuenta
        </th>
        <th>
            Balance
        </th>
        <th>
            Comentarios
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CuentasBancarias)
    {
        <tr>
            <td>
                @item.Tipo.GetDisplayName()
            </td>
            <td>
                @item.NumeroCuenta
            </td>
            <td>
                @item.Balance.ToString("#.00")
            </td>
            <td border="1">
                @item.Comentarios
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-primary editar-cuenta" data-id-cuenta="@item.Id">Modificar</button>
                    <button type="button" class="btn btn-danger eliminar-cuenta" data-id-cuenta="@item.Id">Eliminar</button>
                </div>
            </td>
        </tr>
    }

</table> 
